:root {
  --primary-color: rgb(62, 63, 66);
  --secondary-color: rgb(255, 255, 255);
  --text-font: "Raleway", sans-serif;
  --text-color: rgba(37, 37, 39, 0.806);
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

h1,
h2,
h3,
ul,
p,
.btn-main,
.coding-btn-project {
  font-family: var(--text-font);
  font-weight: 400;
}

.index-body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

nav {
  padding: 15px;
}
ul {
  padding: 0;
}

li {
  display: inline;
  list-style: none;
  margin-left: 12px;
}
nav a {
  text-decoration: none;
  color: var(--secondary-color);
}
nav a:visited {
  color: var(--secondary-color);
}
.top-section {
  background-color: var(--primary-color);
  text-align: center;
  padding: 100px;
}
.top-section h1 {
  color: var(--secondary-color);
  font-size: 66px;
}

.hero {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  max-width: 100%;
  padding: 120px 60px;
}
.hero h1 {
  font-size: 70px;
  margin: 40px 0 20px 0;
}

.hero h2 {
  font-size: 30px;
}

a {
  margin: 20px 0;
}

.btn-main {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px;
  border-radius: 4px;
  margin-top: 60px;
}

.btn-main:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.about-container h2 {
  font-size: 27px;
  line-height: 60px;
}

.about-container p {
  font-size: 18px;
  line-height: 30px;
}

.img-container {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.holly-img {
  height: 400px;
}
.coding-container h2 {
  font-size: 25px;
}

.coding-btn-project {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 16px 12px;
  font-size: 16px;
  border-radius: 4px;
}

.coding-btn-project:hover {
  border: solid 1px var(--primary-color);
}

i {
  font-size: 50px;
}
@media (max-width: 992px) {
  .about-container {
    text-align: center;
  }
  .img-container {
    display: block;
    margin-top: 30px;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 32px;
  }

  .coding-btn-project {
    display: block;
    text-align: center;
  }
  .coding-image-spacing {
    margin-top: 50px;
  }
}
