body {
  background-color: rgb(226, 220, 220);
}

h1,
h2,
.btn-branding {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 75px;
  margin: 40px 0 20px 0;
}
p {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.hero {
  background-color: rgb(83, 83, 87);
  color: rgb(226, 220, 220);
  text-align: center;
  height: 500px;
  padding: 50px;
}

a {
  margin: 20px 0;
}

.btn-branding {
  background-color: rgb(226, 220, 220);
  color: rgb(83, 83, 87);
  padding: 15px;
  border-radius: 4px;
  margin-top: 60px;
}

.btn-branding:hover {
  border: 1px solid rgb(226, 220, 220);
}
