:root {
  --primary-color: #3d3e42;
  --secondary-color: #c4c5be;
  --text-font: "Poppins", sans-serif;
  --text-color: rgba(37, 37, 39, 0.806);
}
* {
  box-sizing: border-box;
}
body {
  background-color: #3d3e42;
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h6,
ul,
p,
.btn-main,
.btn-project,
.technology-icon {
  font-family: var(--text-font);
  font-weight: 300;
  letter-spacing: 1px;
}

header {
  color: var(--secondary-color);
}
nav {
  padding: 15px;
}
nav h3 a {
  border: 1px solid var(--secondary-color);
  padding: 12px;
  border-radius: 4px;
  font-size: 18px;
  color: var(--secondary-color);
  font-weight: 500;
  letter-spacing: 2px;
}
.nav-container ul {
  padding: 10px;
}

.nav-container li {
  display: inline;
  list-style: none;
  margin-left: 12px;
}
nav a,
footer a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}

ul a:hover {
  text-decoration: underline;
}

.top-section {
  padding: 50px 60px;
  text-align: center;
}
.top-section h1 {
  color: var(--secondary-color);
  font-size: 60px;
  font-weight: 300;
}

.hero {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  max-width: 100%;
  padding: 100px 60px;
}
.hero h1 {
  font-size: 70px;
  margin: 40px 0 20px 0;
  color: var(--secondary-color);
}

.hero h2 {
  font-size: 30px;
}

a {
  margin: 20px 0;
}

.btn-main {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 15px;
  padding: 15px;
  border-radius: 4px;
  border: 2px solid var(--secondary-color);
  margin-top: 60px;
  transition: all 150ms ease-in-out;
}

.btn-main:hover {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.about-container h2 {
  font-size: 28px;
  line-height: 60px;
}

.about-container p {
  font-size: 16px;
  line-height: 30px;
}

.shecodes-link {
  text-decoration: none;
  font-weight: 800;
  color: var(--secondary-color);
}
.shecodes-link:hover {
  text-decoration: underline;
}
.img-container {
  display: flex;
  justify-content: center;
}
.holly-img {
  max-height: 600px;
  max-width: 500px;
  border-radius: 5px;
  filter: brightness(0.6);
}
.coding-container {
  margin-top: 100px;
}
.coding-container img {
  border-radius: 4px;
  border: 1px solid var(--text-color);
  filter: brightness(0.7);
}
.coding-container img:hover {
  transform: scale(1.04);
}

.btn-project {
  background-color: var(--primary-color);
  border: solid 2px var(--secondary-color);
  color: var(--secondary-color);
  padding: 16px 15px;
  font-size: 14px;
  border-radius: 4px;
  transition: all 150ms ease-in-out;
}

.btn-project:hover {
  border: solid 2px var(--primary-color);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.btn-margin {
  margin-right: 10px;
}
.contact-container {
  padding: 40px 0;
}
.contact-container p,
.contact-container i {
  text-decoration: none;
  color: var(--tertiary-color);
}
.contact-container p {
  margin-top: 20px;
  font-size: 12px;
}
.contact-container a {
  color: var(--secondary-color);
  text-decoration: none;
}
i {
  font-size: 50px;
}
.project-img {
  width: 480px;
  height: auto;
  filter: brightness(0.7);
}
.project-info h2 {
  font-size: 38px;
}
.project-info p {
  font-size: 18px;
}
.project-info h4 {
  font-size: 28px;
}

.technology-icon {
  color: var(--text-color);
  display: inline-block;
  border: 1px solid;
  border-radius: 5px;
  font-size: 14px;
  padding: 22px;
  margin: 0 5px 10px 0;
}
.vscode {
  background-color: #697069;
  border-color: #697069;
}

.git {
  background-color: #708d95;
  border-color: #708d95;
}
.seo {
  background-color: rgb(121, 96, 96);
  border-color: rgb(121, 96, 96);
}
.hosting {
  background-color: rgb(166, 146, 109);
  border-color: rgb(166, 146, 109);
}
.api {
  background-color: rgb(154, 154, 114);
  border-color: rgb(154, 154, 114);
}
.ai {
  background-color: rgb(112, 112, 112);
  border-color: rgb(112, 112, 112);
}
.github {
  background-color: rgb(154, 132, 137);
  border-color: rgb(154, 132, 137);
}
.bootstrap {
  background-color: rgb(173, 173, 170);
  border-color: rgb(173, 173, 170);
}
.figma {
  background-color: #69626e;
  border-color: #69626e;
}
.responsive {
  background-color: #93acc0;
  border-color: #93acc0;
}
footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 40px;
}
footer a {
  text-decoration: underline;
}

.social-links i {
  font-size: 20px;
  padding: 12px;
  border-radius: 4px;
  margin: 15px 10px;
  transition: all 150ms ease-in-out;
}

.social-links i:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
footer {
  margin-top: 30px;
  padding-bottom: 0;
}
footer p {
  font-size: 15px;
}
@media (max-width: 1000px) {
  .coding-container h2 {
    font-size: 18px;
  }
  @media (max-width: 992px) {
    .about-container {
      text-align: center;
    }
    .about-container h2 {
      margin: none;
    }
    .img-container {
      margin-top: 0;
    }
    .btn-project {
      text-align: center;
    }
  }
}
@media (max-width: 767px) {
  .coding-container h1 {
    font-size: 60px;
  }
  .coding-container h2 {
    font-size: 20px;
  }

  .coding-image-spacing {
    margin-top: 50px;
  }
}
@media (max-width: 500px) {
  .nav-container ul {
    padding-right: 0;
    font-size: 12px;
  }
  .nav-container li {
    margin-left: 3px;
  }
  .hero h1 {
    font-size: 30px;
  }
  .hero h2 {
    font-size: 22px;
  }
  .top-section h1 {
    font-size: 30px;
  }
  .btn-main {
    font-size: 10px;
  }
  .btn-project {
    font-size: 10px;
  }
  .about-container p {
    font-size: 14px;
  }
  .about-container h2 {
    font-size: 20px;
  }
  .about-container h4 {
    font-size: 18px;
  }
  .technology-icon {
    font-size: 12px;
    padding: 12px;
    margin: 0 3px 8px 0;
  }
}
